name: CI/CD Node.js local simulation

on:
  push:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm install
      - run: node index
      - run: echo "Deployment simulated. Run 'node index.js' locally to start server."
